/* Reset default style */
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    line-height: 1.5;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}



/* General layout structure */
body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 3rem;
}



/* General style */
body {
    min-height: 100vh;

    font-family: 'Courier New', Courier, monospace;
    padding: 1rem 1rem;
}
.action-button {
    background-color: hsl(90, 45%, 50%);
    color: white;
    /* padding: 0.35rem 0.5rem; */

    border: none;
    border-radius: 0.25rem;

    font-size: 1rem;
    font-weight: 550;
}
.action-button:active {
    background-color: hsl(90, 45%, 70%);
}
.action-button.remove {
    background-color: hsl(0, 100%, 45%);
}
.action-button.remove:active {
    background-color: hsl(0, 100%, 60%);
}


/* Book adding form style */
.book-adding-form-container {
    height: fit-content;

    position: sticky;
    top: 2rem;
}
#bookAddingForm > *{
    margin: 1rem 0rem;
}
.input-container:nth-child(-n + 3){
    display: flex;
    flex-direction: column;
}
#bookAddingForm label {
    opacity: 0.7;
    font-weight: 550;
}
#bookAddingForm .input-container input {
    border: 0.15rem #d8d8d8 solid;
    border-radius: 0.25rem;
    outline: none;
    padding: 0.35rem;
    background-color: #f1f1f1;
}
#bookAddingForm .input-container input:focus {
    border: 0.15rem green solid;
}
.action-button-container {
    text-align: right;
}
.action-button-container input {
    width: 5rem;
    height: 2.5rem;

    border: none;
    border-radius: 0.25;
}



/* Book table style */
.book-table-container {

}
#bookTable {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}
#bookTable th {
    background-color: brown;
    color: white;
}
#bookTable th, #bookTable td {
    border: 2px #d4d4d4 solid;
    padding: 0.35rem;
}
#bookTable tr:nth-child(even) {
    background-color: #f1f1f1;
}



/* Mobile and tablet screen */
@media (max-width:768px) {
    body {
        grid-template-columns: 1fr;
        grid-gap: 0;
    }
}
